@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    :root {
        --background: 221 45% 100%;
        --foreground: 221 57% 2%;
        --muted: 221 31% 90%;
        --muted-foreground: 221 2% 38%;
        --popover: 221 45% 100%;
        --popover-foreground: 221 57% 2%;
        --card: 221 45% 100%;
        --card-foreground: 221 57% 2%;
        --border: 221 12% 95%;
        --input: 221 12% 95%;
        --primary: 221 81% 74%;
        --primary-foreground: 221 81% 14%;
        --secondary: 221 20% 88%;
        --secondary-foreground: 221 20% 28%;
        --accent: 221 20% 88%;
        --accent-foreground: 221 20% 28%;
        --destructive: 11 83% 41%;
        --destructive-foreground: 0 0% 100%;
        --ring: 221 81% 74%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 221 57% 2%;
        --foreground: 221 45% 100%;
        --muted: 221 31% 10%;
        --muted-foreground: 221 2% 62%;
        --popover: 221 57% 2%;
        --popover-foreground: 221 45% 100%;
        --card: 221 57% 2%;
        --card-foreground: 221 45% 100%;
        --border: 221 12% 5%;
        --input: 221 12% 5%;
        --primary: 221 81% 74%;
        --primary-foreground: 221 81% 14%;
        --secondary: 221 20% 12%;
        --secondary-foreground: 221 20% 72%;
        --accent: 221 20% 12%;
        --accent-foreground: 221 20% 72%;
        --destructive: 11 83% 59%;
        --destructive-foreground: 0 0% 100%;
        --ring: 221 81% 74%;
    }
}

* {
    @apply border-border;
}

body {
    @apply bg-background text-foreground;
}
